*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.bg-back{
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.626)),url(images/hero-bg.jpg);
    background-attachment: fixed;
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.img-logo{
     position: relative;
     top: 30px; 
     text-align: center;
}

.img-logo img{
    width: 50%;
}


.bg-mid{
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.626)),url(images/cta-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.bg-mid2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.626)),url(images/testimonials-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    width: 100%;
}

.start button{
    padding: 8px 30px;
    transition: .7s ease-in-out;
    border-radius: 7px;
    background-color: transparent;
    border: 2px solid goldenrod;
    color: white;
    font-size: 15px;
  
}


.start button:hover{
    background-color: goldenrod;
    color: black;
}

.nav-item a{
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin: 0 12px;
}

#navbar{
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease;
}

.nav-item a:hover{
    color: goldenrod;
    font-weight: 500;
}


.bg-txt{
    text-align: center;
}


.txt-mid{
    text-align: center;
    color: white;
    position: relative;
    top: 30px;
    
}

.txt-mid small{
    color: whitesmoke;
    font-size: 16px;
}

.action button{
    background-color: transparent;
    border: 3px solid gainsboro;
    width: 12%;
    padding: 6px;
    border-radius: 7px;
}


.action span{
    font-size: 18px;
    color: white;
}

.action button:hover{
    background-color: goldenrod;
    transition: 0.2 ease-out;
    border: 3px solid goldenrod;
}

.action span:hover{
    color: black;
}

.txt-mid b{
    font-size: 20px;
    color: white;
}

.bg-txt h3{
    font-size:55px;
    color: whitesmoke;
    font-weight: bold;
}

.bg-txt p{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.lorem-txt{
    text-align: center;
   
}

.move{
   text-align: center;
}

.box-bod{
    padding: 0;
    transition: 1s ease;
    margin: 12px;
    border: 1px groove #696565;
}


.box-icn i{
    color: goldenrod;
    font-size: 23px;
}

.box-icn p{
    font-size: 20px;
    font-weight:700;
    margin-top: 17px;
    color: whitesmoke;
}

.box-icn p:hover{
    color: goldenrod;
}

.box-bod:hover{
    border: 1px groove goldenrod;
}

.con i{
    font-weight: 500;
    font-size: 16px;
}

.abt h2{
    font-weight: 600;
    color: black;
}

.abt div{
    color: grey;
    background-color: transparent;
}

.caro button:hover{
    background-color: gold;
}
 

.caro2 button:hover{
    background-color: gold;
}



.pro-txt i{
    font-size: 35px;
    color: rgb(236, 169, 0);
    margin: 10px;
}

.pro-txt b{
    font-size: 21px;
}

.pro-txt p{
    text-align: center;
    color: gray;
    padding-left: 20px;
}

.service h6{
    color: grey;
    letter-spacing: 1.2px;
}

.check h2{
    font-weight: bold;
}

.serve{
    position: relative;
    top: 35px;
}

.vible{
    width: 10%;
    padding: 18px;
    margin: 13px;
    border-top: 1px solid gold;
}

.box{
    margin: -20px;
    padding: 20px;
    border: 2px solid whitesmoke;
    transition: 0.4s ease;
}

.box:hover{
    border: none;
    transform: translateY(-10px);
    border: none;
    background-color:white;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
}

.box:hover h4{
    color: gold;
}

.box h4{
    text-align: center;
    transition: .5s ease-in-out;
    font-weight: bolder;
    font-size: 22px;
    margin-top: 18px;
}

.box p{
    font-size: 14px;
    margin: 23px;
    margin-bottom: 50px;
    text-align: center;
}

.icon-txt i{
    font-size: 23px;
    padding: 17px;
    border-radius:5px;
    background-color: rgb(239, 186, 50);
}

.icon-txt{
    text-align: center;
}


.card-pic ul li{
    list-style-type: none;
    display: inline-block;
    
}

.card-pic{
   text-align: center;
}

.card-pic ul li .active{
    background-color: rgba(239, 171, 0, 0.784);
    color: black;
    border-radius:4px;
}

.card-pic ul li a{
    text-decoration: none;
    transition: 0.2s ease-in;
    font-weight: bolder;
    padding:5px 18px;
    color: black;
    font-size: 14px;
}

.card-pic li a:hover{
    background-color: rgba(239, 171, 0, 0.784);
    color: black;
    border-radius:4px;
}

.porty img{
    filter: brightness(100%);
    transition: all 0.4s ease-in;

}

.porty{
    overflow: hidden;
    position: relative;
   
    
    
}



.porty img:hover{
    filter: brightness(50%);
  
   
    
}


.advert i{
    font-size: 40px;
    margin:  15px;
    /* padding: 20px; */
    color: goldenrod;
}

.advert h2{
    font-size: 40px;
    font-weight: bold;
}

.advert p{
    font-size: 15px;
}

.our-team img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.user{
    margin-top: 35px;
    padding-left: 23px;
    font-weight: bold;
}


.our-team small{
    color: grey;
    font-size: 13px;
    padding-left: 23px;
}

.user-main{
    margin: -34px;
    position: relative;
    border: none;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 10px rgb(169, 162, 162); 
}

.user-main:hover .user-link{

    opacity: 1;
    height: 50%;

    
}

.user-link{
    position: absolute;
    bottom: 0;
    opacity: 0;
    overflow: hidden;
    height:0;
    width: 100%;
    transition:1s ease-out;
}
.user-link a i{
    color: gray;
    padding: 10px;
    border-radius: 5px;
    transition: all .4s ease;
    font-size: 18px;
    background-color: white;
}

.user-link a i:hover{
    color: black;
    background-color: gold;

}

.contact i{
   /* font-size: 19px; */
   margin: 20px;
   background-color: goldenrod;
   border-radius: 6px;
   border: 2px solid goldenrod;
   padding: 12px;
}

.contact h5{
    font-weight: bold;
    font-size: 22px;
}

.contact p{
    font-size: 13px;
}

.contact-form input{
    width: 50%;
    border: 1px solid gainsboro;
    margin: 12px;
    outline: none;
    border-radius: 6px;
    padding: 12px;
}

.subject input[type=text]{
    width: 98%;
    border: 1px solid gainsboro;
    margin: 12px;
    outline: none;
    border-radius: 6px;
    padding: 12px;
}

.contact-form ::placeholder{
    font-size: 14px;
  
}

.message textarea{
    border: 1px solid gainsboro;
    margin: 12px;
    width: 98%;
    outline: none;
    border-radius: 6px;
    /* padding: 12px; */

}

.contact-form input:focus{
    border: 1px solid goldenrod;
}

.contact-form textarea:focus{
    border: 1px solid goldenrod;
}

.foot-contact h6{
    font-weight: 500;
    color: white;
    font-size: 14px;
}

.foot-icon i{
    margin: 0 5px;
    transition: .4s ease-in;

}

.foot-icon i:hover{
    background-color: goldenrod;
    color: black;
    transform: translateY(-7px);

}

.useful p{
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.sub input{
    width: 100%;
    border: 1px solid gainsboro;
    outline: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 6px;
}

.sub button{
    border: none;
    padding: 6px 23px;
    font-size: 14px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: goldenrod;
}

.useful i{
    font-size: 13px;
    color: gold;
}


.useful h5{
    color: white;
    font-size: 17px;
}


.foot-icon i{
    font-size: 17px;
    color: white;
    border: none;
    background-color: black;
    border-radius: 6px;
    padding: 9px;
}

.foot-info{
    background-color: rgb(26, 25, 25);
    border-bottom: 1px solid rgb(61, 56, 45);
}






/* media screen */

@media screen and (max-width:768px) {
.bg-back{
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.626)),url(images/hero-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


.bg-mid{
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.626)),url(images/cta-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
    width: 100%;
}


.action button{
    background-color: transparent;
    border: 3px solid gainsboro;
    width: 50%;
    padding: 6px;
    border-radius: 7px;
}

.txt-mid p{
    margin: 0 38px;
    text-align: justify;
    font-size: 14px;
}


.img-logo{
   text-align: center;
   padding: 30px;
}

.pro-txt p{
    text-align: justify;
}

.img-logo img{
    width: 30%;
}

.step1{
   padding-left: 50px;
}

    

.step2{
   padding-left: 50px;
}

.box{
    width: 100%;
}

.serve{
    padding-left: 50px;
}

.check{
    padding-left: 50px;
}

.avatar img{
    width: 50%;
    margin: 0;
}


.bg-mid2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.626)),url(images/testimonials-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
}


.sub input{
    width: 100%;
    border: 1px solid gainsboro;
    outline: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 6px;
}

.sub{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.text-pic p{
    font-size: 13px;
}

.first-num{
    padding-left: 0;
    padding: 0;
    margin: 0;
  
}
.first-num h2{
    font-size: 25px;
    font-weight: bold;
}

.first-num strong{
    font-size: 15px;
}

.first-num p{
    font-size: 12px;
    /* padding-left: 0; */
}


.advert i{
    font-size: 30px;
    margin:  0;
    padding: 7px;
    color: goldenrod;
}
.box{
    
    margin: auto;
    margin-bottom: 18px;
    padding: 0;
}


.carousel-item img{
    width: 50%;
}


.bg-txt h3{
    font-size: 38px;
    line-height: 53px;
    
}

.bg-txt p{
    font-size: 19px;
    margin: 43px;
    margin-top: 18px;
}

.con-name{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.contact-form input{
    width: 98%;
    border: 1px solid gainsboro;
    outline: none;
    border-radius: 6px;
    padding: 12px;
}


.subject input[type=text]{
    width: 98%;
    border: 1px solid gainsboro;
    outline: none;
    border-radius: 6px;
    padding: 12px;
}





.foot-icon i{
    font-size: 12px;
    color: white;
    transition: 1s ease;
    border: none;
    background-color: black;
    border-radius: 6px;
    padding: 9px;
}


.box-bod{
    padding: 0;
    height: 150px;
    transition: 1s ease;
    margin: 10px 0;
    border: 1px groove #ebebeb;
}





    
}